{% extends 'plantilla.html' %}
{% load static %}


{% block contenido0 %}


<script>
	/*global grecaptcha
	grecaptcha.ready(function() {
		grecaptcha.execute('6LcWdPEZAAAAAP0qqgllh4ifdN2tKMGj-hTI0eJy', {action: "/register/"}).then(function(token) {
		  document.getElementById('g-recaptcha-response').value = token;
		});
	});*/
  </script>


<style>
    .grecaptcha-badge {
         opacity:100;
    }
</style>

<div class="breadcrumbs">
	<div class="container">
		<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
			<li><a href="{% url 'inicio' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Inicio</a></li>
			<li class="active">Formulario de Registro</li>
		</ol>
	</div>
</div>
{% endblock contenido0 %}
	<!-- //breadcrumbs -->
	<!--- groceries --->
{% block contenido1 %}
<!-- register -->
	<div class="register">
		<div class="container">
			<h2>Formulario de Registro</h2>
			<div class="login-form-grids">
				<form action="{% url 'register' %}" method="post">
					{% csrf_token %}
					{% if error_message %}
						<p class="bg-danger p-d ml-b">{{ error_message }}</p>
					{% endif %}
					
					<h5>Informacion de cuenta</h5>
					{{ form }}
					<br>
					<!--<input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">-->
					<input type="submit" value="Iniciar">
					<input type="hidden" name="next" value="{{ inicio }}">		
				</form>
			</div>
			<div class="register-home">
				<a href="{% url 'inicio' %}">Inicio</a>
			</div>
		</div>
	</div>
<!-- //register -->
{% endblock contenido1 %}